.signupContainer {
  /* border: 1px solid #0E0A32; */
  width: 100%;
  height: 100vh;
  background-image: url("../../../images//registerBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContainer > .signupInner {
  max-width: 600px;
  /* margin: 100px auto; */
  /* border: 1px solid red; */
  padding: 20px 30px;
  /* margin-top: 60px; */
}

.formGroup {
  /* border: 1px solid lime; */
}

.formGroup label,
span {
  display: block;
  /* border: 1px solid red; */
  color: #ffffff;
}

.formGroup label {
  margin-bottom: 25px;
}

.formGroup span {
  margin-bottom: 10px;
  color: #c5c3c3;
  font-size: 13px;
}

.formGroup label > input {
  width: 100%;
  outline: none;
  padding: 14px 20px;
  border-radius: 13px;
  border: 1px solid black;
  background-color: #3e3b5b;
  color: #ffffff;
}

.formGroup label > .show__password {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  background-color: #3e3b5b;
  border-radius: 13px;
}

.formGroup label > .show__password > input {
  width: 100%;
  outline: none;
  padding: 15.5px 20px;
  /* border: 1px solid #3e3b5b; */
  background: transparent;
  color: #ffffff;
  border: none;
}

.checkbox {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.checkbox > input {
  margin-right: 10px;
  /* border: 1px solid red !important; */
}

.checkbox > span {
  font-size: 14px;
  margin-top: 10px;
}

.formGroup > button {
  width: 100%;
  margin: 25px 0 20px 0;
  padding: 18px 0;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #5138ee;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.socialContainer {
  /* display: flex; */
  /* border: 1px solid red; */
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

.socialContainer > div {
  margin: 0 10px;
  border: 1px solid #424245;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #424245;
}

.socialContainer > div > img {
  height: 20px;
}

.error {
  color: red !important;
  text-align: center;
  margin-bottom: 10px;
}

/* SUCCESS MESSAGE STYLES */
.success {
  color: green;
  border: 1px solid rgb(167, 231, 167);
  background-color: rgb(167, 231, 167);
  text-align: center;
  padding: 15px 0;
  font-size: 12.5px;
  width: 100%;
  opacity: 0.5;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.passwordIcon {
  margin-right: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .formGroup label,
  span {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .checkbox > span {
    font-size: 11.5px;
  }
  .checkbox > input {
    height: 13px !important;
    width: 13px !important;
  }
  .signupContainer {
    height: 100%;
  }
  .socialContainer {
    padding-top: 10px;
  }

  .socialContainer > div {
    margin: 0 10px;
    border: 1px solid #424245;
    padding: 5px 18px;
    border-radius: 20px;
    background-color: #424245;
  }
  .socialContainer > div > img {
    height: 15px;
  }
  .formGroup > button {
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 15px 0;
  }
}
