/* *************TOP STYLING*********** */
.container > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.container > .top > h1 {
  margin: 0.685rem 0;
}
.container > .top > Button {
  background-color: #7e39ca !important;
  color: #ffffff !important;
  text-transform: capitalize !important;
  display: flex !important;
  align-items: center !important;
  padding: 0.4rem 1rem;
  cursor: pointer;
}
.container > .top > Button > img {
  margin-right: 0.5rem;
  height: 15px;
}

/************ FORM STYLING*********/
.form__container {
  background-color: #20114a;
  padding: 30px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.form__control {
  width: 100% !important;
  /* border: 1px solid red; */
  /* margin: 0 auto; */
}
.form__control > .inputContainer {
  display: flex;
  margin-top: 1.5rem;
  /* border: 1px solid red; */
}
.inputContainer > label {
  /* border: 1px solid red; */
  width: 50% !important;
}
.textArea > label > span,
.inputContainer > label > span {
  font-size: 0.8rem;
  font-weight: 100;
  color: #f3eeee;
  margin-bottom: 10px;
}
.inputContainer > label > input {
  border: 2px solid #5d389a;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  color: rgba(244, 244, 244, 0.5);
  width: 95% !important;
}

.textArea {
  margin-top: 1.5rem;
  /* border: 1px solid red; */
}

.textArea > label > textarea {
  width: 97.3%;
}

.textArea > label .uploadImage {
  margin-top: 1.5rem;
}
.imageInput {
  border: 2px solid #5d389a;
  background: rgba(255, 255, 255, 0.09);
  padding: 30px 0;
  border-radius: 4px;
  width: 65%;
  text-align: center;
}
.imageInput > .signatureSpan,
.imageInput > .sizeSpan {
  font-size: 12px;
}
.imageInput > .sizeSpan {
  opacity: 0.62;
  font-weight: 100;
}
.imageInput > label > span {
  color: #ffffff;
  background: #603dbf;
  padding: 5px 25px;
  border-radius: 25px;
  font-size: 11px;
  display: inline-block;
  margin-top: 1rem;
}

.form__control > button {
  color: #ffffff;
  background: #603dbf;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: capitalize;
  margin-top: 1.5rem;
  border: none;
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.toast-success-message {
  background-color: #357732 !important;
  color: #ffffff !important;
}
.client__image {
  display: flex;
  justify-content: space-between;
  height: 200px;
  /* border: 1px solid red; */
}
.imgPreview {
  width: 33%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #603dbf;
  border-radius: 5px;
  color: gray;
  height: 100%;
}
.imgPreview > span {
  color: grey;
}
.imgPreview > .image {
  width: 100%;
  height: 100%;
  /* height: max-content; */
  border-radius: none !important;
  border-radius: 0 !important;
  border: none;
}

@media screen and (max-width: 768.8px) {
  .client__image {
    height: auto;
    flex-direction: column;
    gap: 15px;
  }
  .imageInput {
    width: 100%;
  }
  .imgPreview {
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .form__control > .inputContainer {
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .inputContainer > label {
    width: 100% !important;
    margin: 10px 0px;
  }
}
@media screen and (max-width: 480px) {
  .imageInput > .signatureSpan,
  .imageInput > .sizeSpan {
    font-size: 10px;
  }
}
