.sliced_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sliced_btns > button {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 11px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 1rem;
}

.sliced_btns > button:hover {
  opacity: 0.9;
}

.sliced_btns > button:first-child > img {
  height: 13px;
}
.sliced_btns > button:last-child {
  background-color: #7e39ca !important;
  color: #ffffff !important;
  padding: 11px 20px;
}
.sliced_btns > button:last-child span {
  color: #ffffff !important;
}
.sliced_btns > button > img {
  height: 17px;
}
.sliced_btns > button > span {
  color: #7e39ca;
  margin-left: 0.8rem;
}

.sliced_invoice_form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.slice_left,
.slice_right {
  flex: 1 1 400px;
  /* border: 1px solid red; */
  background-color: #20114a;
  padding: 30px;
  border-radius: 10px;
}
.slice_right {
  margin-left: 1rem;
  height: max-content;
}

.imageInput {
  border: 2px solid #5d389a;
  background: rgba(255, 255, 255, 0.09);
  padding: 30px 0;
  border-radius: 4px;
  /* width: 95%; */
  text-align: center;
}
.imageInput > .signatureSpan,
.imageInput > .sizeSpan {
  font-size: 12px;
}
.imageInput > .sizeSpan {
  opacity: 0.62;
  font-weight: 100;
}
.imageInput > label > span {
  color: #ffffff;
  background: #603dbf;
  padding: 5px 25px;
  border-radius: 25px;
  font-size: 11px;
  display: inline-block;
  margin-top: 1rem;
}

.slice_left .inputContainer,
.slice_right .inputContainer {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.slice_left .inputContainer > label,
.slice_right .inputContainer > label {
  /* border: 1px solid red; */
  width: 100%;
}
.slice_left .inputContainer > label > input,
.slice_right .inputContainer > label > input {
  width: 97%;
  border: 2px solid #5d389a;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  color: rgba(244, 244, 244, 0.5);
  outline: none;
}
.slice_left
  .inputContainer
  > label
  > textarea
  .slice_right
  .inputContainer
  > label
  > textarea {
  width: 100% !important;
  resize: none;
  outline: none;
}
::placeholder {
  color: rgba(244, 244, 244, 0.5);
}
.slice_left .inputContainer > label > span,
.slice_right .inputContainer > label > span {
  font-size: 0.8rem;
  font-weight: 100;
  color: #f3eeee;
  margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .sliced_invoice_form {
    gap: 20px;
  }
  .slice_right {
    margin-left: 0rem;
  }
  .slice_left .inputContainer,
  .slice_right .inputContainer {
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .slice_left .inputContainer > label,
  .slice_right .inputContainer > label {
    margin: 10px 0;
  }
}
