.container > h1 {
  margin: 0.685rem 0;
}
.card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}
.card__container > .card {
  background-color: #20114a;
  padding: 25px;
  border-radius: 10px;
  flex: 1 1 200px;
  /* margin-right: 2.5rem; */
  /* max-width: 300px; */
  cursor: pointer;
}
.card > .card_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_top > img {
  height: 26px;
}
.card > span:nth-child(2) {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}
.card > span:nth-child(3) {
  color: #9babc5;
  font-size: 0.8rem;
}
@media screen and (max-width: 555px){
  .container > h1 {
   text-align: center;
  }
  .card__container {
    justify-content: center;
  }
}